{% extends "base.html" %}

{% block head %}
<title>DjProMan - Add Project</title>
{% endblock %}

{% block body %}
<h5> ADD PROJECT </h5><hr>
<form action="/save_project/" method="post">
    <table align="center" style="width:50%;">
        <tr>
            <td>
                Title: 
            </td>
            <td>
                <input type="text" name="title"><br>
            </td>
        </tr>
        <tr>
            <td>
                Descripton: 
            </td>
            <td>
                <input type="text" name="description"><br>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button class="btn btn-primary" type="submit">SAVE</button>
            </td>
        </tr>
    </table>
</form>

<br> <br> <br> <br> <br> <br> <br>

{% endblock %}
