{% extends "base.html" %}
{% comment %}

Main page to authenticate users.

{% endcomment %}

{% block head %}
<title>WeaveBytes | Login</title>
<script type="text/javascript">
    $(window).load(function(){
            $('#LoginModal').modal('show');
            });
</script>
{% endblock %}

{% block body %}
<h5>Login</h5>

<section>
{% if form.errors %}
<p style="color:red">Your username and password didn't match, please try again.</p>
{% endif %}

<!-- !!!!!!!!!!!!!! LOGIN MODAL BEGINS HERE !!!!!!!!!!!!!-->
<div class="modal fade" id="LoginModal" tabindex="-1" 
    role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">      
        <div class="modal-content">

            <!-- add header of popup here -->
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal">
                    <span aria-hidden="true">&times;
                        </span><span class="sr-only">
                        Close</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    LOGIN</h4>
            </div>
            <!-- end header of popup here -->

            <!-- add body of popup here -->
            <div class="modal-body">
                <p style="color:red"> {{ state }} </p>
                <form method="post" action=".">{% csrf_token %}
                    <p>
                    <label for="id_username">Username:</label>
                    {{ form.username }}
                    </p>
                    <p>
                    <label for="id_password">Password:</label>
                    {{ form.password }}
                    </p>
                    {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% else %}
                    <input type="hidden" name="next" value="/" />
                    {% endif %}
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>

            </div>
            <!-- end body of popup here -->

            <div class="modal-footer">
                <button type="button" 
                    class="btn btn-default" data-dismiss="modal">
                    Close</button>
            </div>
        </div>
    </div>
</div>
<!-- !!!!!!!!!!!!!! LOGIN MODAL ENDS HERE !!!!!!!!!!!!!-->
{% endblock %}
