{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
        <script src={% static "js/jquery.min.js" %}></script>
        <script src={% static "js/bootstrap.min.js" %}></script>
        {% block head %}{% endblock %}
    </head>
    <body bgcolor="#ccddcc">
        <div id="page-container">

                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#BestTestedModal">Best tested</a>
            {% if request and not request.user.is_anonymous %}
            Welcome: <b> {{ request.user }}</b> <br>
            {% else %}
            Welcome: <b>Guest</b> <br>
            {% endif %}
            <br>
            <ul>
                <li class="btn btn-inverse"><a href="/">PROJECTS</a></li>
                <li class="btn btn-inverse"><a href="/tasks/">TASKS</a></li>
                <li class="btn btn-inverse"><a href="/progress/">PROGRESS</a></li>
                <li class="btn btn-inverse"><a href="/help/">HELP</a></li>

                {% if request and not request.user.is_anonymous %}
                <li class="btn btn-inverse"><a href="/logout/">LOGOUT</a></li>
                {% else %}
                <li class="btn btn-inverse"><a href="/login/">LOGIN</a></li>
                {% endif %}
            </ul>
            <hr>
            {% block body %}{% endblock %}

        </div>
        <div id="footer">
            <center><br><p>Under development by weavebytes</p></center>
        </div>

    </body>
</html>
