{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
        <script src={% static "js/jquery.min.js" %}></script>
        <script src={% static "js/bootstrap.min.js" %}></script>
        {% block head %}{% endblock %}
    </head>
    <body bgcolor="#ccddcc">
        <div id="page-container">

            <ul>
            <img class="img-circle" src={% static "images/djproman.png" %} width="90" height="90"></img>
            {% if request and not request.user.is_anonymous %}
            Welcome: <b> {{ request.user }}</b>
            {% else %}
            Welcome: <b>Guest</b>
            {% endif %}
                <li class="btn btn-inverse"><a href="/">PROJECTS</a></li>
                <li class="btn btn-inverse"><a href="/tasks/">TASKS</a></li>
                <li class="btn btn-inverse"><a href="/progress/">PROGRESS</a></li>
                <li class="btn btn-inverse">
                <a class="btn btn-inverse" href="#" data-toggle="modal" data-target="#HelpModal">HELP</a>
                </li>

                {% if request and not request.user.is_anonymous %}
                <li class="btn btn-inverse"><a href="/logout/">LOGOUT</a></li>
                {% else %}
                <li class="btn btn-inverse"><a href="/login/">LOGIN</a></li>
                {% endif %}
            </ul>
            <hr>
            {% block body %}{% endblock %}

        </div>
        <div id="footer">
            <center><br><p>Under development by weavebytes</p></center>
        </div>

        <!-- Help Information Popup starts here -->

        <div class="modal fade" id="HelpModal" tabindex="-1" 
            role="dialog" aria-labelledby="helpModalLabel"     aria-hidden="true">
            <div class="modal-dialog">      
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" 
                            data-dismiss="modal">
                            <span aria-hidden="true">&times;
                                </span><span class="sr-only">
                                Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">
                            Help</h4>
                    </div>
                    <div class="modal-body">
                        <b>djProman</b> is a project management tool developed by weavebytes.<br><br>
                                <b>Features</b><hr>
                        <ol>

                            <li>Each project will have tasks and workers to handle them.</li>
                            <li>Each task can have several comments by worker.</li>
                            <li>Comments will have title, description and screenshots.</li>
                            <li>There is a UI to add/edit/manage tasks.</li>
                            <li>There is a UI to add/edit/manage comments.</li>
                        </ol>
                        

                    </div>
                    <div class="modal-footer">
                        <button type="button" 
                            class="btn btn-default" data-dismiss="modal">
                            Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Help Information Popup ends here -->
    </body>
</html>
