{% extends "base.html" %}

{% block head %}
<title>DjProMan - Home</title>
{% endblock %}

{% block body %}
<h4> PROJECT MANAGEMENT SYSTEM </h4><hr>

<section>
<p>Projects Under Development</p>
</section>
<br><a class="btn btn-primary" href="#" data-toggle="modal" data-target="#AddProjectModal">Add Project</a><br><br>
<table class="table" border="0" cellspacing="5" cellpadding="5" width="100%">
    <tr class="info">
        <td><b>#</b></td>
        <td><b>Project</b></td>
        <td><b>Created By</b></td>
        <td><b>Start Date</b></td>
    </tr>
    {% for project in projects %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="/project/{{ project.id }}">{{ project.title }}</a></td>
        <td>{{ project.owner }}</td>
        <td>{{ project.start_date }}</td>
    </tr>
    {% endfor %}
</table>


<br> <br> <br> <br> <br> <br> <br>

{% endblock %}
