{% extends "base.html" %}

{% block head %}
<title>DjProMan - Home</title>
{% endblock %}

{% block body %}
<h4>PROJECT: {{ project.title }} </h4><hr>

<section>
<p>Total tasks: {{ project.get_tasks.count }}</p>
</section>
<br><a class="btn btn-primary" href="#" data-toggle="modal" data-target="#AddTaskModal">Add Task</a><br><br>
<table class="table" border="0" cellspacing="5" cellpadding="5" width="100%">
    <tr class="info">
        <td><b>#</b></td>
        <td><b>Task</b></td>
        <td><b>Start Date</b></td>
        <td><b>Worker</b></td>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="/task_detail/{{ task.id }}">{{ task.title }}</a></td>
        <td>{{ task.start_date }}</td>
        <td>{{ task.worker }}</td>
    </tr>
    {% endfor %}
</table>

<br> <br> <br> <br> <br> <br> <br>
<!-- !!!!!!!!!!!!!! ADD PROJECT BEGINS HERE !!!!!!!!!!!!!-->
<div class="modal fade" id="AddTaskModal" tabindex="-1" 
    role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">      
        <div class="modal-content">

            <!-- add header of popup here -->
            <div class="modal-header">
                <button type="button" class="close" 
                    data-dismiss="modal">
                    <span aria-hidden="true">&times;
                        </span><span class="sr-only">
                        Close</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Add Task</h4>
            </div>
            <!-- end header of popup here -->

            <!-- add body of popup here -->
            <div class="modal-body">
                <p style="color:red"> {{ state }} </p>
                <form method="post" action="/save_task/">{% csrf_token %}

                    <div class="form-group">
                        <label for="id_title">Title:</label>
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                    <label for="id_description">Description:</label>
                    {{ form.description }}
                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
            <!-- end body of popup here -->

            <div class="modal-footer">
                <button type="button" 
                    class="btn btn-default" data-dismiss="modal">
                    Close</button>
            </div>
        </div>
    </div>
</div>
<!-- !!!!!!!!!!!!!! ADD PROJECT MODAL ENDS HERE !!!!!!!!!!!!!-->

{% endblock %}

