{% extends "base.html" %}

{% block head %}
<title>DjProMan - Home</title>
{% endblock %}

{% block body %}
<h4> PROJECT MANAGEMENT SYSTEM </h4><hr>

<section>
<p>Projects Under Development</p>
</section>
<br> <a href="/add_task/"> <button type="button" class="btn btn-primary">ADD TASK</button></a><br><br>
<table border="1" cellspacing="5" cellpadding="5" width="100%">
    <tr>
        <td><b>#</b></td>
        <td><b>Task</b></td>
        <td><b>Start Date</b></td>
        <td><b>Worker</b></td>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.start_date }}</td>
        <td>{{ task.worker }}</td>
    </tr>
    {% endfor %}
</table>

<br> <br> <br> <br> <br> <br> <br>

{% endblock %}
